.menu-wrapper {
  background: #111;
  color: #fff;
  padding: 60px 40px;
  width: 100vw;
  margin: 0;

  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
}

.menu-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #f5f5f5;
  letter-spacing: 2px;
}

.menu-category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  gap: 40px;
}

.menu-category.image-left {
  flex-direction: row;
}

.menu-category.image-right {
  flex-direction: row-reverse;
}

.category-image img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(236, 13, 13, 0.958);
}

.category-details {
  flex: 1;
}

.category-heading {
  font-size: 32px;
  margin-bottom: 25px;
  border-bottom: 2px solid #f5c518;
  display: inline-block;
  padding-bottom: 8px;
}

.dish-list {
  width: 996px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dish-item {
  width: 957px;
  margin-bottom: 20px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  padding-bottom: 12px;
}

.dish-name {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
}

.dish-price {
  float: right;
  font-weight: bold;
  color: #f5c518;
}

.dish-desc {
  font-size: 14px;
  color: #bbb;
  margin-top: 6px;
}

.view-all-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #f5c518;
  color: #f5c518;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.view-all-btn:hover {
  background: #f5c518;
  color: #111;
}
